html{
    scroll-behavior: smooth;
}
.headd{
    background:#b9899c;
   color:black;
   border: 2px solid rgb(171, 94, 94);
   
}

body{
    background:  #c7a5a0;
    min-height: 100vh;
    position: relative;
}
footer{
   bottom:0;
    left:0;
    background:rgb(247, 185, 1) ;
    color:rgb(147, 31, 4);
   border: 2px solid rgb(207, 142, 29);
}
main{
    padding-bottom: 8.5rem;
}
.atag:hover{
background: rgb(255, 208, 0);
color:#d63e27;
}

.atag{
background: rgb(247, 185, 1);
border-radius: 40px 40px 40px 40px;
text-decoration: none;
font-family: 'Varela Round', sans-serif;
color:#d63e27;
font-weight:1000;
transition: .5s all;
font-size:.8em;
margin-left: 5px;
margin-right: 5px;
}


h1{
    font-family: 'Comfortaa', cursive;
    font-size:2em;
}

h2{
    font-family: 'Comfortaa', cursive;
    font-size:1.7em;
    border-radius: 40px 40px 40px 40px;
    padding-top:10px;
    padding-bottom:10px;
    background: rgb(155, 91, 96);
    margin-left:20%;
    margin-right:20%;
    
}

.photoTitle{
    margin-left: 20%;
   
}

.para{
    font-size: 1.2em;
    font-family: 'Varela Round', sans-serif;
    
}
a{
    text-align: center;
    width:120px;
    margin-top: 10px;
    
}

.para{
    margin:0 auto;
    color:red;
}

@media  (max-width:770px){
    .scrollD{
        padding-top:50px;
        right:0;
        margin: auto;
    }
   
}
@media (min-width:770px){
    .scrollD{
        padding-top:100px;
        margin: 0 auto;
    }
}
.Mephoto{ 
    width:100%;
    border: 2px solid rgb(171, 94, 94);
}
iframe{
    height: 30vh;
    width:100%;
    border: 2px solid rgb(171, 94, 94);
}
.container{
    margin-bottom: 90px;
    margin-top: 30px;
}
.eyePhoto{
    margin-right:20px;
}
.finn{
    font-family: 'Comfortaa', cursive;
    font-size: 1.7em;
    
}
.bigVid{
   height:40vh;
   width:100%; 
}
.howText{
    margin-top:40px;
    margin-bottom: 40px;
    font-size: 1.5em;
}
.scroll{
    background: rgb(129, 19, 19);
border-radius: 40px 40px 40px 40px;
text-decoration: none;
font-family: 'Varela Round', sans-serif;
color:#fcfcfc;
font-weight:1000;
font-size:.8em;
margin-left: 5px;
margin-right: 5px;
padding:5px;
}
.scrollD{
    padding-bottom:70px;
    
    justify-content: center;
    display: flex;
    
}
.modelsH{
    margin-top:100px;
}
